.App{
  width:80%;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.header{
  text-align:center;
  color:blue;
  font-size:80px;
  margin-left:350px;
}
/* todos.js */
.collection-item{
  border:1px solid #2424;
  padding:30px;
  margin:30px;
  width:100%;
  text-align:center;

}
.todos-collection{
  width:80%;
  margin-left:200px;
}

/* input-field */

.todo-input{
  display:flex;
  flex-direction: column;
}
.input-form{
  display:flex;
  flex-direction:column;
}