.App{
  width:80%;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.header{
  text-align:center;
  color:blue;
  font-size:80px;
  margin-left:300px;
}
/* todos.js */
.collection-item{
  border:1px solid #2424;
  padding:30px;
  margin:30px;
  width:100%;
  text-align:center;

}
.todos-collection{
  display:flex;
  justify-content:center;
  flex-direction:column;
  width:40%;
  margin-left:150px;
}

/* input-field */

.todo-input{
  display:flex;
  flex-direction: column;
}
.input-form{
  display:flex;
  flex-direction:column;
  align-items:start;
  margin-left:0px;
  margin-right:0px;
} 
.input-title{
  text-align:start;
  padding-bottom:0px;
}
.input-field{
  padding:10px;
  margin:0px;
  width:190%;
  font-size:20px;
  background-color:#e7e7e7;
}